.line-width-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 100%;
  justify-content: space-between; 
  margin-bottom: 12px; 
  gap: 8px;
  font-family: 'segoe ui';
  font-weight: 'bold';
}

.slider{
  width: 100px;
  margin-left: 8px;
  accent-color: var(--slider-color, rgb(50, 50, 50));
}

.color-picker{
  border: none;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'segoe ui';
  min-width: 100%; 
  max-width: 100%;
  box-sizing: border-box;
}

.chrome-picker {
  background: #f5f5f5 !important; /* Replace with your desired color */
  border-radius: 8px !important;
}

.selected-color{
  width: 100px; 
  height: 20px;
  border-radius: 20;
}

.selected-color-row {
  display: flex;
  flex-direction: row; 
  align-items: center;
  width: 100%;
  justify-content: space-between; 
  margin-bottom: 12px; 
  gap: 8px;
  font-family: 'segoe ui';
  font-weight: 'bold';
}
